<h1>Hi ModuleSelector.com </h1>
<p>
  My name is <%= @firstname %> <%= @surname %>
  and my email address is: <%= @email %>  </br>
</p>
<p>My message is: <%= @message %></p>

<p>Please can you get in touch as soon as possible. Thanks!</p>
