@import "bootstrap";

html,
body{
  background-color: whitesmoke;
  height: 100%;
}

.pages {
  padding-top: 30px;
  padding-bottom: 20px;
  flex: 1 0 auto;
}

.navbar {
  background-color: #8E6498 !important;
  opacity: 0.94;
  z-index: 9999;
}

.nav-link {
  color: white !important;
}
.navbar-brand{
  color: white !important;
  font-weight: bold;
}

.carousel {
  width:1160px;
}
.d-block:hover{
opacity: 0.8;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.4);
  color: antiquewhite;
}


.title1{
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  font-family: Arial;
}

.card-header, .card-footer{
  font-weight: lighter;
  background-color: ghostwhite;
}
.card{
  margin-bottom: 20px;

}

.navbar-nav{
  padding-right: 10px;
}


.jumbotron {
  background-image: asset_url('lightbulb_image.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

.jumbotron .bg-overlay {
  height: 100%;
  background: rgba(0,0,0,0.4);
}

#coursewords{
  color: antiquewhite;
}

