// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
  background-image: asset_url('lightbulb_image.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

.jumbotron .bg-overlay {
  height: 100%;
  background: rgba(0,0,0,0.4);
}

#coursewords{
  color: antiquewhite;
}
